#python
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
# Django
db.sqlite3
*.log
/media/
staticfiles/
.env
*.env

# Environment
venv/
env/
foodvenv/

# VSCode/IDE
.vscode/
.idea/
# System files
.DS_Store
Thumbs.db
