# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.egg
*.log

# Django
db.sqlite3
*.log
local_settings.py

# Environment
.env
foodvenv/


# VSCode/IDE
.vscode/
.idea/
foodvenv/

# Media & static
/media/
staticfiles/

# System files
.DS_Store
